<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <title><%= title %></title>
    <link rel ='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css'>
</head>

<body class='container bg-dark'>
<%-include('nav') %>
<p class='text-right'>
  <%= login != undefined ? '"' + login.name + '"logined.' : '(not logined)' %>
</p>
<h1 class = 'mt-3 mb-3'>
  <%= title %>
</h1>
